@import url('../css/reset.css');

@import url('https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap');

html, body{
    height: 100%;
}

body{
    font-family: Rubik;
    font-size: 12px;
    color: #616161;
}
.main{
    flex: 1 1 auto;
}
[class*="__container"] {
    max-width: 1082px;
    margin: 0px auto;
    padding: 0px 15px;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/*============== HEADER =================*/

/*--- PC ---*/
@media (max-width: 1082px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
/*--- TABLET ---*/
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
/*--- MOBILE ---*/
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
}
.header__inner {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 5;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
    padding: 0px 40px 0px 0px;
}
.menu__list {
    display: flex;
}
.menu__item {
}
.menu__item + .menu__item{
    margin-left: 40px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: calc(12 / 10 * 100%);
    letter-spacing: 0.14em;
    color: #000000;
}
.menu__link:hover {
    text-decoration: underline;
}
.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 5;
}
@media (max-width: 991.98px) {
    .header__inner {
        min-height: 90px;
    }
    .menu__item + .menu__item{
        margin-left: 30px;
    }
    .menu {
        padding: 0px 30px 0px 0px;
    }
    .header__button{
        flex: 0 0 170px;
    }
}
    
@media (max-width: 767.98px){
    #close .header {
        overflow-y: hidden;
    }
    .menu__body{
        position: fixed;        
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #7daaf3;
        padding: 100px 15px 30px 15px;
        transition: all 0.3s ease 0s;
    }
    .header:target .menu__body {
        transition: all 0.3s ease 0s;
        left: 0%;
    }

    
    .header:target .menu__body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #437bd6;
    }
    .menu__item {
        margin: 0px 0px 25px 0px;  
    }
    .menu__item:last-child{
        margin: 0px;
    }
    .menu__item + .menu__item{
        margin-left: 0px;
    }
    .menu__link{
        color: #fff;
        font-size: 20px;
    }
    .menu__list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 479.98px){
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}
.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: calc(12 / 10 * 100%);
    letter-spacing: 0.14em;
    color: #FCFDFE;
    padding: 14px 30px;
    border-radius: 5px;
    background: #EC5863;
    transition: all 0.3s ease 0s;
}
.button:hover{
    background: #ea7880;
    transition: all 0.3s ease 0s;
}
.button_blue {
    background: #4285F4;
}
.button_blue:hover {
    background: #6ca1f4;
}

/* --- BURGER MENU --- */
.close-icon-menu,
.icon-menu{
    display: none;
}
@media (max-width: 767.98px) {
    .close-icon-menu,
    .icon-menu{
        display: flex;
        position: relative;
        flex: 0 0 30px;
        overflow: auto;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }
    .icon-menu::before,
    .icon-menu::after{
        content: '';
        height: 2px;
        background-color: #000000;
    }
    .icon-menu span{
        height: 2px;
        background-color: #000000;
    }

    .close-icon-menu {
        display: none;
    }
    .close-icon-menu::before {
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../img/Arrow\ 1.svg') center/cover no-repeat;
        width: 25px;
        height: 25px;
    }
    .header:target .icon-menu{
        display: none;
    }
    .header:target .close-icon-menu{
        display: flex;
    }
}
/*============== MAIN (...) =================*/

/*============== MAIN (section get-started) =================*/
.block-text {
}
.block-text__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000000;
}
.block-text__title:not(:last-child) {
    margin-bottom: 12px;
}
.block-text__title span{
    color: #EC5863;
}
.block-text__title-blue span{
    color: #4285F4;
}
.block-text-center {
    text-align: center;
}
.block-text__text {
    line-height: 138.5%;
}
.block-text__text-mw {
    max-width: 600px;
    margin: 0px auto;
}
.block-text__text:not(:last-child) {
    margin-bottom: 24px;
}
.block-text__button {
}
@media (max-width: 767.98px) {
    .block-text__title {
        font-size: 34px;
    }
}



.get-started {
    background-color: #FAFBFD;
   
}
.get-started__container {
    padding: 150px 15px 50px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.get-started__container::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    transform: translate(100%, 0px);
    top: 0;
    right: 267px;
    border-radius: 30px 0px 0px 30px;
    background-color: #EC5863;
}
@media (max-width: 991.98px) {
    .get-started__container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}
@media (max-width: 767.98px) {
    .get-started__container::before {
        display: none;
    }
}
.get-started__content {
    flex: 0 1 48%;
    padding: 0px 20px;
}
.get-started__block-text {
    max-width: 410px;
}

.get-started__video {
    flex: 1 1 100%;
    margin: 60px 0px 0px 20px;
}
.video-get-started {
    display: inline-flex;
    align-items: center;
}
.get-started__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}
.get-started__image img{
    max-width: 100%;
}
.video-get-started__icon {
    flex: 0 0 44px;
}
.video-get-started__body {
    padding: 0px 0px 0px 12px;
}
.video-get-started__title {
    font-size: 13px;
    line-height: 126%;
    color: #B0B0B0;
    letter-spacing: 1.5px;
}
.video-get-started__title:not(:last-child) {
    margin-bottom: 5px;
}
.video-get-started__text {
    text-transform: uppercase;
    font-size: 9px;
    line-height: 126%;
    color: #000000;
}
@media (max-width: 991.98px) {
    .get-started__container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}
@media (max-width: 767.98px) {
    .get-started__container {
        padding: 100px 15px 30px 15px;
    }
    .get-started__container::before {
        display: none;
    }
    .get-started__block-text {
        max-width: none;
    }
    .get-started__content {
        flex: 1 1 100%;
        padding: 0px;
    }
    .get-started__image {
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0px;
    }
    .get-started__video {
        margin: 0px;
}
}

/*============== MAIN (section stay-safe) =================*/
.stay-safe {
    padding: 80px 0px;
}
.stay-safe__container {
    display: flex;
    align-items: center;
}
.stay-safe__media {
    flex: 0 1 50%;
}
.media-stay-safe {
    width: 373px;
    position: relative;
    text-align: center;
    padding: 56px 0px 27px 0px;
}
@media (max-width: 991.98px) {
    .stay-safe {
        padding: 60px 0px;
    }
}
@media (min-width: 991.98px) {
    .stay-safe__media {
        padding: 0px 0px 0px 47px;
    }
}
@media (max-width: 767.98px) {
    .stay-safe__container {
        flex-direction: column-reverse;
    }
    .stay-safe__content {
        margin-bottom: 30px;
    }
    
}
@media (max-width: 479.98px) {
    .media-stay-safe {
        width: 290px;
    }
}

.media-stay-safe__image {
    display: inline-block;
    box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    position: relative;
    width: 61.5%;
}
.media-stay-safe__image img{
    position: relative;
    z-index: 5;
    max-width: 100%;
}
.media-stay-safe__image::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 206px;
    height: 27px;
    left: 12px;
    bottom: -12px;
    background: rgba(240, 240, 240, 0.49);
    border-radius: 16px;
}
.stay-safe__content {
    flex: 0 1 50%;
}
.stay-safe__block-text {
}

.media-stay-safe__item {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
    width: 77px;
    height: 77px;
}
.media-stay-safe__item_1 {
    top: 0;
    left: 0;
    width: 147px;
    height: 147px;
}
.media-stay-safe__item_2 {
    bottom: 0;
    left: 33px;
}
.media-stay-safe__item_3 {
    bottom: 107px;
    right: 34px;
}

/*============== MAIN (section experts) =================*/

.experts {
    background-color: #FAFBFD;
    padding: 103px 0px 116px 0px;
}
.experts__container {
}
.experts__statistics {
  
}
.statistics-experts {
    max-width: 655px;
    margin: 0px auto;
    position: relative;
}
.experts__body {
    display: flex;
    align-items: center;
}
.experts__content {
    flex: 0 1 50%;
    padding: 0px 20px 0px 0px;
}
.experts__video{
    flex: 0 1 50%;
    position: relative;
    padding: 0px 0px 30% 0px;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    overflow: hidden;
}
.experts__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
@media (max-width: 767.98px) {
    .experts {
        padding: 80px 0px 30px 0px;
    }
    .experts__body {
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
    .experts__video{
        padding: 0px 0px 58% 0px;
    }
    .experts__content {
        padding: 0px;
        margin-bottom: 30px;
    }
}
.statistics-experts__body {
    position: relative;
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    margin: 0px 0px 80px 0px;
}
.statistics-experts__decor {
    position: absolute;
    background-color: #EC5863;
    border-radius: 30px;
}
.statistics-experts__decor_1 {
    width: 66px;
    height: 66px;
    transform: rotate(-30deg);
    bottom: -21px;
    left: -21px;
    border-radius: 16px;
}

.statistics-experts__decor_2 {
    width: 97px;
    height: 97px;
    transform: rotate(30deg);
    top: -40px;
    right: 50%;
}
.statistics-experts__decor_3 {
    width: 128px;
    height: 128px;
    transform: rotate(-30deg);
    top: 0px;
    right: -55px;
}

.body-statistics-experts {
    padding: 25px 80px;
    display: flex;
    align-items: center;
}
.body-statistics-experts__item {
    flex: 0 1 25%;
    text-align: center;
}
.body-statistics-experts__item:last-child {
    flex: 0 1 50%;
}
.body-statistics-experts__value {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(43 / 36 * 100%);
    letter-spacing: 0.14em;
    color: #EC5863;
    margin-bottom: 5px;
}
.body-statistics-experts__text {
    font-weight: 700;
    font-size: 11px;
    line-height: calc(13 / 11 * 100%);
    letter-spacing: 0.37em;
    text-transform: uppercase;
    color: #000000;
}

.experts__block-text{
    max-width: 400px;
}
@media (max-width: 767.98px) {
    .statistics-experts__body {
        margin: 0px 0px 50px 0px;
    }
    .body-statistics-experts {
        padding: 25px;
    }
}
@media (max-width: 479.98px) {
    .body-statistics-experts {
        flex-direction: column;
    }
    .body-statistics-experts__item:not(:last-child) {
        margin-bottom: 15px;
    }
}

/*============== MAIN (section healthcare) =================*/
.healthcare {
    padding: 80px 0px 30px 0px;
}
.healthcare__container {
}
.healthcare__block-text {
    margin-bottom: 45px;
}

.healthcare__items {
    display: flex;
    max-width: 980px;
    margin: 0px auto;
}
.healthcare-column {
    flex: 0 1 33.3333%;
    padding: 0px 36px;
    position: relative;
}
.healthcare__item {
   
   
}
.item-healthcare {
    height: 100%;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 17px;
    position: relative;
    z-index: 2;
}
.item-healthcare__icon {
    margin-bottom: 58px;
}
.item-healthcare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;letter-spacing: 0.08em;
    color: black;
    margin-bottom: 10px;
}
.item-healthcare__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
}

.item-healthcare-1 {

}
.healthcare-column-1::before,
.healthcare-column-1::after {
    content: '';
    position: absolute;
    background-color: #EC5863;
    border-radius: 16px;
}
.healthcare-column-1::before {
    content: '';
    width: 65px;
    height: 65px;
    bottom: -35px;
    left: 15px;
    transform: rotate(-30deg);
}
.healthcare-column-1::after {
    content: '';
    width: 97px;
    height: 97px;
    top: 35px;
    right: -10px;
    transform: rotate(30deg);
    border-radius: 16px;
}

.healthcare-column-2::after {
    content: '';
    position: absolute;
    width: 127px;
    height: 127px;
    background-color: #EC5863;
    bottom: -35px;
    right: -35px;
    transform: rotate(50deg);
    border-radius: 16px;
}

.healthcare-column-3::after {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: #EC5863;
    top: -35px;
    right: 20px;
    transform: rotate(50deg);
    border-radius: 16px;
}


/*============== MAIN (footer) =================*/
@media (max-width: 1087px){
    .healthcare-column {
        padding: 0px 10px;
    }
}
@media (max-width: 991.98px) {
    .healthcare {
        padding: 30px 0px 30px 0px;
    }
    .healthcare__items {
        flex-direction: column;
    }
    .healthcare-column:not(:last-child) {
        margin-bottom: 25px;
    }
}
.footer {
    padding: 45px 0px;
}
.footer__container {
   
}
.footer__items {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.footer__item {
}
@media (max-width: 500px) {
    .footer {
        padding: 30px 0px;
    }
    .footer__items {
        row-gap: 20px;
        flex-direction: column;

    }
}